<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img src="/img/explorer-logo.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>


            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">

        <!-- BEGIN MEGA MENU -->
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Pool
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://clopool.net" target="_blank">
                            <i class="icon-pin"></i>
                            <span class="title" data-toggle="tooltip" title="clopool.net">clopool.net</span>
                          </a>
                        </li>
                        <hr>
                        <li>
                          <a href="http://minerpool.net/pools/callisto" target="_blank">
                            <i class="fa fa-bar-chart"></i>
                            <span class="title" data-toggle="tooltip" title="Mainnet Stats">List of Callisto mining pools</span>
                          </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Stats
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                      <li>
                          <a href="/stats/hashrate">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Hashrate chart">HashRate Growth Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/The_bomb_chart">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Difficulty chart">Difficulty Growth Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/miner_hashrate">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Miner chart">Miner Distribution Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/total" target="_blank">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Total Supply">Total Supply API</span>
                          </a>
                      </li>
                      <hr>
                      <li>
                        <a href="https://clostats.net" target="_blank">
                          <i class="fa fa-bar-chart"></i>
                          <span class="title" data-toggle="tooltip" title="Mainnet Stats">Live Network Stats</span>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                   <a href="https://ethereumproject.github.io/etherwallet" target="_blank">Web Wallet</a>
                </li>
                <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Tokens
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                      <li>
                        <a href="/token" target="_blank">
                          <i class="icon-puzzle"></i>
                          <span class="title" data-toggle="tooltip" title="Tokens">View All Tokens</span>
                        </a>
                      </li>
                    </ul>
                </li>
                <!-- li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Community
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                      <li>
                          <a href="https://discord.gg/h6vsEuw" target="_blank">
                            <i class="fa fa-group"></i>
                            <span class="title" data-toggle="tooltip" title="Community Chat">Discord</span>
                          </a>
                      </li>
                      <li>
                          <a href="http://gazua.tv" target="_blank">
                            <i class="fa fa-group"></i>
                            <span class="title" data-toggle="tooltip" title="The Forum">가즈아tv</span>
                          </a>
                      </li>
                    </ul>
                </li -->
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER INNER -->
